<section id="create-contact-container">
  <h2>Enter New Contact Details</h2>
  <form action="/create_contact" method="post">
    <fieldset>
      <div class="create-contact-row">
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required />
      </div>
      <div class="create-contact-row">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required />
      </div>
      <div class="create-contact-row">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="create-contact-row">
        <label for="telephone">Telephone:</label>
        <input type="tel" id="telephone" name="telephone" />
      </div>
      <input type="submit" value="Submit" />
    </fieldset>
  </form>
</section>